@import "mixin";
@include useRem(720px);
body{
  font-size: 16px;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
@font-face{
  font-family:'iconfont';
  src:url(../jieya/iconfont.woff);
}
.iconfont{
font-family: 'iconfont';
}
.icon-rili:before { content: "\e653"; }
.icon-iconfontcolor69:before { content: "\e6ae"; }
.icon-jiahao:before { content: "\e617"; }
.icon-gengduo:before { content: "\e766"; }
.icon-zhankaishangxia:before { content: "\e7b1"; }
.icon-kg-k:before { content: "\e627"; }
.icon-kaiguankai-copy:before { content: "\e65f"; }

.page-top{
  height:2.42rem;
  width:100%;
  background: #fffdfd;
  border-bottom:1px solid #ccc;
  position:relative;
  padding: 40px;
  font-size: 0.5rem;
  .moreleft{
    width:0.5rem;
    height:0.5rem;
    position:absolute;
    left:0.45rem;
  }
  .topbottom{
    width:0.5rem;
    height:0.5rem;
    position:absolute;
    left:5.45rem;
  }
  .moreright{
    width:0.5rem;
    height:0.5rem;
    position:absolute;
    left:6.5rem;
  }
  .suoyou{
    height:0.52rem;
    width:2.18rem;
    position: absolute;
    top:1.79rem;
    left:0.45rem;
    color: #4492ff;
    font-size: 0.52rem;
    font-weight: 700;
  }
  .rili{
    width:0.5rem;
    height:0.5rem;
    position:absolute;
    top:1.79rem;
    left:5.45rem;
  }
  .kaiguan{
    width:0.6rem;
    height:0.6rem;
    position:absolute;
    top:1.79rem;
    left:6rem;
    font-size:0.6rem;
    .kai{
      width:0.6rem;
      height:0.6rem;
      position:absolute;
      top:0;
      left:0;
      z-index: 2;
    }
    .guan{
      width:0.6rem;
      height:0.6rem;
      position:absolute;
      top:0;
      left:0;
      z-index: 1;
    }
  }
}

.list{
  width: 100%;
  height: 9.88rem;
  background: #fff;
  .list-itam{
    width: 100%;
    height: 0.96rem;
    background:#fff;
    border-bottom:1px solid #ccc;
    position: relative;
    transition: transform .8s ease;
    .biaoti{
      width: 6.2rem;
      height: 0.28rem;
      line-height: 0.28rem;
      font-size: 0.28rem;
      color: #0099ee;
      font-weight: 700;
      position: absolute;
      left:0.55rem;
      top: 0;
      bottom: 0;
      margin: auto;
      &.active{
        color:#ccc;
      }
    }
    .done{
      width:5.5rem;
      height:0.01rem;
      position: absolute;
      background: #c6c6c6;
      top:0.48rem;
      left:0.55rem;
      &.active{
        display: none;
      }
    }
    .delate{
      width:0.28rem;
      height: 0.28rem;
      position: absolute;
      right:0.45rem;
      top:0;
      bottom:0;
      color:#00a7e4;
      margin: auto;
      &:after{
        content: "X";
      }
      &.active{
        display: none;
      }
    }
  }
}

.add{
   position: fixed;
   bottom:0.5rem;
   right:0.5rem;
   width: 1.12rem;
   height: 1.12rem;
   border-radius: 50%;
   background: #4fa5ff;
   font-size: 0.78rem;
   line-height: 1.12rem;
   text-align: center;
   color: #fff;
   font-weight: 700;
   box-shadow: 0.1rem 0.1rem 0.1rem  #ccc;
 }